# ML

In [14]:
import pandas as pd
import numpy as np
import csv
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, SGDRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [15]:


df=pd.read_csv('C:\DataMining\Examen01\data\ml\dataset.csv')

In [16]:
df

,user_id,month_x,duration,message_count,totalcost_calls,mb_used,totalcost_messages,totalcost
0,1000,12.0,116.83,11.0,0.11,1901.47,13.31029,84.58859
1,1001,8.0,171.14,30.0,0.90,6919.15,6.41915,32.45335
2,1001,8.0,171.14,30.0,0.90,6919.15,6.41915,43.06552
3,1001,8.0,171.14,30.0,0.90,6919.15,6.41915,54.64379
4,1001,8.0,171.14,30.0,0.90,6919.15,6.41915,50.32200
...,...,...,...,...,...,...,...,...
11121,1496,12.0,278.61,11.0,0.33,16438.99,15.93899,48.21747
11122,1496,12.0,278.61,11.0,0.33,16438.99,15.93899,43.36216
11123,1496,12.0,278.61,11.0,0.33,16438.99,15.93899,37.19376
11124,1496,12.0,278.61,11.0,0.33,16438.99,15.93899,44.62729
11125,1497,12.0,276.53,50.0,0.50,9885.11,48.19577,121.46107

In [17]:
y = df.iloc[:, -1]
X = df.iloc[:, :-1]

In [18]:
# Split dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [19]:

models = {
    "Linear Regression": LinearRegression(),
    "Stochastic Gradient Descent": SGDRegressor(max_iter=1000, tol=1e-3)
}

In [ ]:
results = {}
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    mae = mean_absolute_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    
    results[name] = {"RMSE": rmse, "MAE": mae, "R^2": r2}

In [ ]:
best_model = min(results, key=lambda x: results[x]["RMSE"])

In [ ]:
for model, metrics in results.items():
    print(f"{model}: {metrics}")
print(f"Best model: {best_model}")

Linear Regression: {'RMSE': np.float64(31.109921680702303), 'MAE': 19.496301735096516, 'R^2': 0.7971469893509837}
Stochastic Gradient Descent: {'RMSE': np.float64(6.629602537620471e+16), 'MAE': 6.177932470289466e+16, 'R^2': -9.212099206044271e+29}
Best model: Linear Regression